@{
}
@using WebBlog.Enums
@using WebBlog.Services.Interfaces
@inject IBlogPostService _BlogPostService
@inject IImageService _ImageService

<!-- Start Sidebar Area  -->
<div class="sidebar-inner">
   
    <!-- Start Single Widget  -->
    <div class="axil-single-widget widget widget_search mb--30">
        <h5 class="widget-title">Search</h5>
        <form asp-controller="Home" asp-action="SearchIndex">
            <div class="axil-search form-group">
                <button type="submit" class="search-button"><i class="fal fa-search"></i></button>
                <input type="text" class="form-control" placeholder="Search" name="SearchString" id="SearchString">
            </div>
        </form>
    </div>
    <!-- End Single Widget  -->
 
    
</div>
<!-- End Sidebar Area  -->
 